# Database Configuration (Railway PostgreSQL)
DB_HOST=switchback.proxy.rlwy.net
DB_PORT=30138
DB_USERNAME=postgres
DB_PASSWORD=yqwFdrYfbUNIPajelzkJWWFuUeIsfmKT
DB_DATABASE=railway

# App Configuration
PORT=3001
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3000

# API Key for protected endpoints
API_KEY=11116d8c-e092-4550-9f81-f6f06940566a
